.production {
  display: none;
}

@media screen and (min-width: 1158px) {
  .production {
    display: block;
    padding-bottom: 120px;
  }
  .production-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .production-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }

  .production-item {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0 0 4px 4px;
  }
}
