.costumers {
  padding-top: 96px;
  padding-bottom: 96px;
}

.costumers-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 72px 16px;
}
.costumers-item {
  width: 190px;
  height: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.costumers-link {
  width: 100%;
  height: 100%;
  padding: 16px 40px;
  transition: color var(--timing-duration) var(--timing-function),
    border-color var(--timing-duration) var(--timing-function);
  border-radius: 4px;
  border: 1px solid var(--body-text-light-slate);
  color: var(--body-text-light-slate);
  outline: transparent;
  outline-offset: 2px;
}

.costumers-icon {
  fill: currentColor;
}

.costumers-link:focus,
.costumers-link:hover {
  border-color: (var(--pressed-state-cta));
  color: var(--pressed-state-cta);
}

@media screen and (min-width: 768px) {
  .costumers-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
  }

  .costumers-item {
    width: 168px;
  }
}

@media screen and (min-width: 1158px) {
  .costumers {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
